swagger: "2.0"
info:
  description: "Loadwallet REST Billspay API"
  version: "1.0.0"
  title: "Billspay API"
host: "api-sandbox.loadwallet.xyz"
basePath: "/v1"
schemes:
- "https"
paths:
  /billspay:
    post:
      tags:
      - "Billspay"
      summary: "Create bills payment transaction."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Bills pay payload"
        required: true
        schema:
          type: "object"
          properties:
            requestId:
              type: string
              description: Unique id generated by client
              example: "TEST01234"
            billerId:
              type: string
              description: Biller id
              example: "5cbed64b290f2e00187c27a9"
            fields:
              type: object
              description: "List of key-value parameters to send to biller"
              example:
                account_name: "Juan Cruz"
                account_id: 12345
                amount: 100.00
                due: 07/02/2020
            amount:
              type: "number"
              format: "double"
              description: "Amount to pay"
              example: 100.00
            callbackUrl: 
              type: string
              description: "Client notification endpoint"
              example: "http://your.company.com/bills-payment/result"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/Transaction"
        "400":
          description: "Bad Request"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Account Name is required"
        "401":
          description: "Unauthorized"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Invalid username or password"
  /billspay/{id}:
    get:
      tags:
      - "Billspay"
      summary: "Get bills pay transaction"
      produces:
      - "application/json"
      
      parameters:
      - name: "id"
        in: "path"
        description: "Transaction id or Request id billspay transaction"
        required: true
        type: "string"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/Transaction"
        "400":
          description: "Bad Request"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Biller id is required"
        "401":
          description: "Unauthorized"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Invalid username or password"
  /billers:
    get:
      tags:
      - "Billers"
      summary: "Get list of billers"
      parameters:
        - in: query
          name: categoryId
          type: string
          description: Filter billers by category id
      produces:
      - "application/json"
      responses:
        "200":
          description: "OK"
          schema:
            type: array
            items:
              $ref: '#/definitions/Biller'
        "400":
          description: "Bad Request"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Category id is invalid"
        "401":
          description: "Unauthorized"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Invalid username or password"
  /billers/{id}:
    get:
      tags:
      - "Billers"
      summary: "Get biller details"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Biller or Outlet ID"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Biller"
        "400":
          description: "Bad Request"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Biller id is invalid"
        "401":
          description: "Unauthorized"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Invalid username or password"
  
  /billers/categories/:
    get:
      tags:
      - "Billers"
      summary: "Get list of biller categories"
      produces:
      - "application/json"
      responses:
        "200":
          description: "OK"
          schema:
            type: array
            items:
              $ref: '#/definitions/BillerCategory'
        "401":
          description: "Unauthorized"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Invalid username or password"
  /billers/categories/{id}:
    get:
      tags:
      - "Billers"
      summary: "Get biller category details"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Biller category id"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/BillerCategory"
        "400":
          description: "Bad Request"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Category id is invalid"
        "401":
          description: "Unauthorized"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Invalid username or password"
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
definitions:
  Transaction:
    type: "object"
    properties:
      tranId:
        type: "string"
        description: "Transaction ID"
        example: j82yn34s92b
      requestId:
        type: "string"
        description: "Unique ID generated by client"
        example: TEST01234
      billerId:
        type: "string"
        description: "Unique Biller ID from list of billers"
        example: "5cbed64b290f2e00187c27a9"
      fields:
        type: "object"
        description: "List of key-value parameters sent to biller"
        example:
          account_name: "Juan Cruz"
          account_id: 12345
          amount: 100.00
          due: 07/02/2020
        additionalProperties:
          type: string
      amount:
        type: "number"
        format: "double"
        description: "Amount to pay"
        example: 100.00
      fee:
        type: "number"
        format: "double"
        description: "Service fee"
        example: 10.00
      callbackUrl: 
        type: string
        description: "Client notification endpoint"
        example: "http://your.company.com/bills-payment/result"
      code:
        type: "string"
        description: "Billspay status code"
        example: 0
      status:
        type: "string"
        description: "Transaction Status"
        example: Pending
        enum:
        - "Pending"
        - "Processing"
        - "Failed"
        - "Successful"
      message:
        type: "string"
        description: "Short description of transaction status"
        example: Transaction is pending
      settlements:
        type: "object"
        description: "List of key-value pair of parameters from provider details"
        example:
          reference_number: "823HSJBS82H23"
          date_posted: 07/03/2020
        additionalProperties:
          type: string
      charge:
        type: "number"
        format: "double"
        description: "Amount deducted to wallet"
        example: 110.00
      balance:
        type: "number"
        format: "double"
        description: "Updated wallet balance after charge"
        example: 890.00
      createdDate:
        type: "string"
        format: "date-time"
        description: "UTC Timestamp where transaction is created"
        example: "2020-07-01T07:18:55.000Z"
      updatedDate:
        type: "string"
        format: "date-time"
        description: "UTC Timestamp where transaction is last updated"
        example: "2020-07-01T07:18:55.000Z"
  Biller:
    type: "object"
    properties:
      id:
        description: "Unique biller id"
        type: "string"
        example: "5cbed64b290f2e00187c27a9"
      name:
        description: "Human readable biller name"
        type: "string"
        example: "Manila Water Company"
      code:
        description: "Short code for this biller"
        type: "string"
        example: "MWCOM"
      status:
        description: "Biller status"
        type: "string"
        example: "Active"
        enum:
          - "Active"
          - "Unavailable"
      fields:
        type: "array"
        description: "List of available parameters of biller"
        items:
          $ref: "#/definitions/Field"
      categoryId:
        type: "string"
        description: "Category id of this biller"
        example: "bills_pay_water"
      category:
        description: "Contains category details"
        $ref: "#/definitions/BillerCategory"
  BillerCategory:
    type: "object"
    properties:
      id:
        description: "Unique category id"
        type: "string"
        example: "bills_pay_water"
      name:
        description: "Human readble category name"
        type: "string"
        example: "Water Utility"
      code:
        description: "Short code for this category"
        type: "string"
        example: "WATER"
  Field:
    type: "object"
    properties:
      id:
        description: "Field id"
        type: "string"
        example: "account_name"
      billerId:
        description: "Biller id"
        type: "string"
        example: "5cbed64b290f2e00187c27a9"
      name:
        description: "Human readable field name"
        type: "string"
        example: "Account Name"
      description:
        description: "Short field description"
        type: "string"
        example: "Your billing account name"
      required:
        type: "boolean"
        description: "True if this field is mandatory"
        example: true
      disabled:
        type: "boolean"
        description: "True if this field is disabled"
        example: false
      type:
        description: "Data type of this field"
        type: "string"
        example: "string"
        enum:
          - "string"
          - "number"
          - "date"
          - "tel"
          - "money"
